*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../img/Screenshots.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: 20%;
}
.bg-light {
    background-color: #426c95!important;
}
